<div id="clockdiv">
  <p class="hero-inner"><strong>تا قسمت بعد ...</strong></p>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">ثانیه</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">دقیقه</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">ساعت</div>
  </div>
  <div>
    <span class="days"></span>
    <div class="smalltext">روز</div>
  </div>
</div>