<!-- Footer -->
<footer id="footer">
    <div class="inner social-icons">
        <section>
            <h2>در شبکه‌های اجتماعی دنبال کنید.</h2>
            <ul class="icons">
                <li>
                    <a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                    <a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a>
                </li>
                <li>
                    <a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a>
                </li>
                <li>
                    <a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a>
                </li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; تمامی حقوق متعلق به گروه پادفلیکس است. </li>
            <li>
                اجرا از: <a href="http://html5up.net">آرش</a>
            </li>
        </ul>
    </div>
</footer>
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
