<!-- Footer -->
<footer id="footer">
    <div class="inner social-icons">
        <section>
            <h2>در شبکه‌های اجتماعی دنبال کنید.</h2>
            <ul class="icons">
                <li>
                    <a href="https://twitter.com/atomicwarseries" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/atomicwarseries" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a>
                </li>
                <li>
                    <a href="mailto: atomiwarseries@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a>
                </li>
            </ul>
        </section>
        <ul class="copyright">
            <li>تمامی حقوق محفوظ است.</li>
            <li>اجرا از: <a href="https://twitter.com/arashThr">آرش طاهر</a></li>
            <li><a href="https://t.me/podflixBot">بات پشتیبان</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/custom.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155315700-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155315700-1');
</script>
