<div>
    <ul class="actions">
        <li><a href="/buy" class="button primary tg-btn">نحوه خرید مجموعه</a></li>
        <li><a href="https://t.me/atomicWarsBot" class="button primary tg-btn">دریافت در تلگرام</a></li>
    </ul>
</div>