<!DOCTYPE html>
<html lang="fa">

    <head>
        <title>مجموعه جنگ‌های هسته‌ای</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
        <meta name="author" content="Arash Taher">
        <meta name="description" content="مجموعۀ جنگ‌های هسته‌ای روایتی از جنگ سرد و رقابت آمریکا و شوروی برای کنترل جهان است.
داستانی دربارۀ دو ایدئولوژی، بمب‌های اتمی و نبردی مخفیانه برای تصرف دنیای جدید.">

        <meta property="og:title" content="پادکست جنگ‌های هسته‌ای: روایتی از جنگ سرد و خطرناک‌ترین سلاح بشریت">
        <meta property="og:image" content="https://telegra.ph/file/6d4e6b24bd97dae0d5d25.jpg">
        <meta property="og:description" content="مجموعۀ جنگ‌های هسته‌ای روایتی از جنگ سرد و رقابت آمریکا و شوروی برای کنترل جهان است.
داستانی دربارۀ دو ایدئولوژی، بمب‌های اتمی و نبردی مخفیانه برای تصرف دنیای جدید.">

        <meta name="twitter:title" content="پادکست جنگ‌های هسته‌ای: روایتی از جنگ سرد و خطرناک‌ترین سلاح بشریت">

        <meta name="twitter:title" content="پادکست جنگ‌های هسته‌ای: روایتی از جنگ سرد و خطرناک‌ترین سلاح بشریت">
        <meta name="twitter:description" content="مجموعۀ جنگ‌های هسته‌ای روایتی از جنگ سرد و رقابت آمریکا و شوروی برای کنترل جهان است.
داستانی دربارۀ دو ایدئولوژی، بمب‌های اتمی و نبردی مخفیانه برای تصرف دنیای جدید.">
        <meta name="twitter:image" content="https://telegra.ph/file/6d4e6b24bd97dae0d5d25.jpg">
        <meta name="twitter:site" content="@atomicwarseries">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/fontiran/css/fontiran.css" />
        <noscript>
            <link rel="stylesheet" href="assets/css/noscript.css" />
        </noscript>
    </head>

    <body class="is-preload">
        <!-- Menu -->
        {{> menu}}
        <div id="wrapper">
            {{{body}}}
        {{> footer}}
        </div>
    </body>

</html>