<!DOCTYPE html>
<html lang="fa">
    <head>
        <title>مجموعه جنگ‌های هسته‌ای</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/fontiran/css/fontiran.css" />
        <link href='https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.css' rel='stylesheet' type='text/css'>
        <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
        <noscript>
            <link rel="stylesheet" href="assets/css/noscript.css" />
        </noscript>
    </head>
    <body class="is-preload">
        <!-- Menu -->
        {{> menu}}
        <div id="wrapper">
            {{{body}}}
        </div>
        {{> footer}}
    </body>
</html>
