{{> header}}
<div id="main">
    <div class="inner">
        <p>
        جنگ‌های هسته‌ای یک پروژه کاملا مستقل است که توسط <b>شاهین جوادی نژاد،‌ رضا حریریان و آرش طاهر</b> تهیه و ساخته شده.
        </p>
        <br>
        <div class="justified-text">
            <span class="image left">
                <img src="/images/creators/shaahin.jpg" alt="" />
            </span>
            <p>
                <b>شاهین جوادی نژاد</b><br>
                شاهین یک داستان گوی مستقل است که سعی دارد علاقه خود را در همه مدیوم ها تجربه کند.
                او پایه‌گذار جشنواره iesff در اسپانیا و موسس پادکست <a href="http://stringcast.ir/">استرینگ‌کست</a> است
                و یک معتاد تلویزیون و خوره کتاب است.
                او از طرفداران علم، تغییر و نوآوری می‌باشد و معتقد است که تنها راه پیشرفت، ورود خلاقیت به زندگی همه
                انسان ها می‌باشد.
            </p>
        </div>

        <div class="justified-text">

            <span class="image right">
                <img src="/images/creators/reza.jpg" alt="" />
            </span>
            <p>
                <b>رضا حریریان</b><br>
                رضا یک مهندس و فارق‌التحصیل عمران و مهندسی محیط زیست است و همکاری با شرکت ها، سازمان‌ها و رویداد های
                مختلف به تجربیات او به عنوان یک متفکر افزوده است.
                رضا تهیه کننده و گوینده پادکست تخصصی و علمی «<a href="http://stringcast.ir/">استرینگ‌کست</a>» است و
                معتقد است که اصلاح شیوه تفکر یک جامعه
                می‌تواند به بهبود وضعیت جامعه کمک کند و تنها را این کار استفاده از علم به عنوان یک ابزار و دعوت به علم‌
                آموزی است.
            </p>
        </div>

        <div class="justified-text">
            <span class="image left">
                <img src="/images/creators/arash.jpg" alt="" />
            </span>
            <p>
                <b>آرش طاهر</b><br>
                آرش یک بازی‌ساز است که در تلاش برای ساختن بهترین تجربه‌ها و کشف کردن دنیاهای جدید از تکنولوژی استفاده
                میکند. او توسعه‌دهنده‌ی زیرساخت‌های فنی مجموعه جنگ‌های اتمی است. وی همچنین سازنده پادکست <a
                    href="http://radiodaal.ir/">رادیو دال</a> است.
                به عقیده‌ی او بهترین راه برای داشتن یک زندگی بهتر، پیدا کردن بازی دلخواه و لذت بردن از آن است.
            </p>
        </div>
    </div>
</div>