{{> header}}
<div id="main">
    <div class="inner">
<p>
شاهین جوادی نژاد:‌ شاهین یک داستان گوی مستقل است که سعی دارد علاقه خود را در همه مدیوم ها تجربه کند.
او پایه‌گذار جشنواره iesff در اسپانیا و موسس پادکست استرینگ‌کست است و یک معتاد تلویزیون و خوره کتاب است. او از طرفداران علم، تغییر و نوآوری می‌باشد و معتقد است که تنها راه پیشرفت، ورود خلاقیت به زندگی همه انسان ها می‌باشد.
</p>
<p>
آرش طاهر:‌
</p>
<p>
رضا حریریان یک مهندس و فارق‌التحصیل عمران و مهندسی محیط زیست است و همکاری با شرکت ها، سازمان‌ها و رویداد های مختلف به تجربیات او به عنوان یک متفکر افزوده است.
رضا تهیه کننده و گوینده پادکست تخصصی و علمی «استرینگ کست» است و معتقد است که اصلاح شیوه تفکر یک جامعه می‌تواند به بهبود وضعیت جامعه کمک کند و تنها را این کار استفاده از علم به عنوان یک ابزار و دعوت به علم‌ آموزی است.
</p>
</div>
</div>