{{> header}}
<div id="main">
    <section class="inner justified-text">
        <h1>خرید مجموعه جنگ‌های هسته‌ای</h1>

        <p>خرید مجموعه جنگ‌های هسته‌ای از طریق بات تلگرام امکان‌پذیر است.</p>
        <p>برای این منظور با مراجعه به بات تلگرام، پس از پس از مشاهده تیزر مجموعه و قسمت صفر، در صورت تمایل
            می‌توانید با دنبال کردن مراحل اقدام به خرید این مجموعه بکنید.</p>

        <div style="display: flex; justify-content: center; margin-bottom: 20px;">
            <img style="height: 400px;" src="/images/bot/buy.png" alt="" />
        </div>

        <p>خرید مجموعه هم از طریق سیستم پرداخت داخل ایران و هم از طریق کارت‌های اعتباری بین‌المللی قابل انجام است.
        </p>
        <p>قیمت این مجموعه در دو دوره‌ی پیش خرید و پس از انتشار به صورت زیر است:</p>

        <div class="table-wrapper" style="width: 80%;">
            <table class="alt">
                <thead>
                    <tr>
                        <th></th>
                        <th>پیش‌خرید</th>
                        <th>عادی</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ریالی</td>
                        <td>۲۹٫۸۰۰ تومان</td>
                        <td>۳۹٫۸۰۰ تومان</td>
                    </tr>
                    <tr>
                        <td>دلاری</td>
                        <td>$4.90</td>
                        <td>$5.90</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p style="font-size: smaller;">
            پیش خرید تا تاریخ ۱۰ بهمن ماه و قبل از انتشار اولین قسمت امکان پذیر است و بعد از آن مجموعه با قیمت عادی در
            دسترس خواهد بود.
        </p>

        <p>
            پس از خرید و عضویت در بات تلگرام دسترسی شما به تمام قسمت‌های منتشر شده فعال خواهد شد. همچنین انتشار
            قسمت‌های جدید از طریق همین بات به اطلاع شما خواهد رسید و به سادگی می‌توانید در همانجا به آن قسمت گوش
            دهید.
        </p>
        <div style="display: flex; justify-content: center; margin-bottom: 20px;">
            <img style="height: 400px;" src="/images/bot/menu.png" alt="" />
        </div>
        <p>در صورت بروز هرگونه مشکل می‌توانید با <a href="https://t.me/podflixBot">بات پشتیبان</a> و یا با ایمیل
            atomicwarseries@gmail.com تماس بگیرید.
        <br>
            همچنین مجموعه جنگ‌های اتمی با شناسه atomicwarseries در شبکه‌های اجتماعی فعال است و به محض دریافت پیام شما در
            اسرع وقت اقدام به رفع مشکل می‌نماییم.
        </p>

        <h2>برای خرید مجموعه به بات تلگرام مراجعه کنید:</h2>
        <div class="display: flex; justify-content: center;">
            <div style="margin-left: 25%; margin-right: 25%;">
                <a href="https://t.me/atomicWarsBot" class="button primary fit">دریافت در تلگرام</a>
            </div>
        </div>

    </section>
</div>