{{> header}}
<div id="main">
    <div class="inner">
        <h1>{{name}}</h1>
        <span class="image main"><img src="https://picsum.photos/1000/300" alt="" /></span>
        <p class="justified-text">{{description}}</p>
        <span class="image right"><img src="/images/pic14.jpg" alt="" /></span>
        <p class="justified-text">{{description}}</p>
        <span class="image left"><img src="/images/pic14.jpg" alt="" /></span>
        <p class="justified-text">{{description}}</p>
        

    <div style="display: flex; align-content: space-between;">
        <ul class="actions">
            <li><a href="#" class="button fit">دریافت در تلگرام</a></li>
            <li><a href="#" class="button primary fit">دریافت با ایمیل</a></li>
        </ul>
    </div>
    </div>
</div>