{{> header}}
<div id="main">
    <div class="inner">
        <h1>{{name}}</h1>
        <span class="image main"><img src="/images/headers/{{slug}}.jpg" alt="" /></span>

        <div class="native-player">
            <figure>
                <figcaption>تیزر این قسمت</figcaption>
                <audio controls src="/media/examples/t-rex-roar.mp3">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>
        </div>

        <br>
        <div class="justified-text">{{{description}}}</div>

        <div>
            <ul class="actions">
                <li><a href="#" class="button fit">دریافت در تلگرام</a></li>
            </ul>
        </div>
    </div>
</div>