<section class="hero">
  <div class="hero-inner">
    <h6>پروژه‌ای از <b>STRING</b>CAST</h6>
    <h1>جنگ‌های هسته‌ای</h1>
    <h2 class="hero-subtitle">روایتی از جنگ سرد و خطرناک‌ترین سلاح بشریت</h2>
    <a href="https://t.me/atomicWarsBot" target="_blank" class="btn main-btn">پیش خرید کنید!</a>
    <div>
      {{> countdown}}
    </div>
  </div>
</section>

<!-- Header -->
{{> header}}

<!-- Main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>
        مجموعه جنگ‌های هسته‌ای<br>
      </h1>
      <p class="justified-text">
        در سال ۱۹۴۵، آمریکا از اولین سلاح هسته‌ای جهان رونمایی کرد و از آن علیه کشور ژاپن استفاده کرد. با نابودی
        هیروشیما و ناگازاکی توسط این سلاح مرگبار، فصل جدیدی از تاریخ آغاز شد و نبردی سرد میان دو بازماندۀ جنگ‌ جهانی دوم
        آغاز شد. نبردی در شطرنجی چند وجهی که هر مهرۀ آن بخشی از خاک زمین بود و هر حرکت اشتباه می‌توانست منجر به آغاز جنگ
        جهانی سوم و پایان جهان شود.
      </p>
      <p class="justified-text">
        مجموعۀ جنگ‌های هسته‌ای روایتی از جنگ سرد و رقابت آمریکا و شوروی برای کنترل جهان است. داستانی دربارۀ دو
        ایدئولوژی، بمب‌های اتمی و نبردی مخفیانه برای تصرف دنیای جدید.
      </p>
    </header>
    <section>
      <h3><a href="/ep/ep0">قسمت صفر: پروژه منهتن</a></h3>
      <div class="teaser-player">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/737171794&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      </div>
    </section>

    <section class="tiles">
      {{#each episodes}}
      <article>
        <span class="image img-container">
          <img src="images/covers/{{slug}}.jpg" alt="" />
          {{#if locked}}
          <img class="lock-image" src="/images/lock.png" alt="" onfocus="sayNo" />
          {{/if}}
        </span>
        {{#if locked}}
        <a href="javascript:lockedEpisode();">
          {{else}}
          <a href="/ep/{{slug}}">
            {{/if}}
            <div class="content">
              <p>
                {{headline}}
              </p>
            </div>
          </a>
      </article>
      {{/each}}
    </section>

    <br>
    <hr>

    <section>
      <h2>درباره مجموعه</h2>
      <div class="row">

        <div class="col-9 col-12-medium">
          

          <p class="justified-text">
            مجموعه جنگ‌های هسته‌ای پروژه‌ای صوتی از استرینگ‌کست است و شما با خرید آن می‌توانید از پادکست و ساخت محتوای
            مستقل توسط این مجموعه حمایت کنید. برای گوش دادن به قسمت صفر و همچنین خرید مجموعه می‌توانید به <a
              href="https://t.me/stringcast" target="_blank"> بات ما در تلگرام</a> مراجعه کنید یا از طریق لینک زیر
            مجموعه
            را خریداری کنید!
          </p>
          <p class="justified-text">
            جنگ‌های هسته‌ای چهارشنبه هرهفته از طریق <a href="https://t.me/atomicWarsBot" target="_blank"> تلگرام</a> پخش
            خواهد
            شد!
          </p>
        </div>
        

        <div class="col-3 col-12-medium">
          <img style="width: 200px;" src="/images/pic14.jpg" alt="" />
        </div>

        <div class="col-6 col-12-medium">
          {{> tgButton}}
        </div>

      </div>


    </section>

  </div>
</div>