{{> header }}
<div id="main">
    <section class="inner">
        <h1>منابع مجموعه جنگ‌های هسته‌ای</h1>
        <span class="image main"><img src="/images/refs/header.jpg" alt="" /></span>

        <div class="row">
            <p>
            فصل اول مجموعه جنگ‌های هسته‌ای بر اساس وقایع تاریخی سال‌های ۱۹۴۵ تا ۱۹۶۳ ساخته شده و روایتی از وضعیت جهان در
            جریان جنگ سرد میان آمریکا و شوروی می‌باشد.
</p>
<p>
            منابع اصلی برای این مجموعه کتاب‌های <b>یک دقیقه تا نیمه شب نوشته مایکل داگز ، پیروزی در جنگ هسته‌ای نوشته میچیو
            کاکو، نبرد اطلاعاتی نوشته توماس پاورز و تاریخچه جدید جنگ سرد نوشته جان لوییس گادیس هستند</b> و برای اطلاعات
            بیشتر
            درباره موضوعات مطرح شده در این قسمت میتونید به اون‌ها مراجعه کنید!
            </p>

            <div class="col-12 about-img">
                <img src="/images/refs/6.jpg" alt="" />
            </div>
            <p>
                <b>یک دقیقه تا نیمه‌شب:</b> کندی،‌ خروشچف و کاسترو در مرز جنگ هسته‌ای
                در این کتاب مایکل داگز به منابع تا به حال جستجو نشده آمریکایی،‌ روسی و کوبایی رجوع می‌کند تا روایتی ساعت
                به ساعت
                از بحران کوبا را به خواننده ارائه بدهد. کتابی پر از جزییات ریز و اطلاعات تا به حال دیده نشده از یکی از
                خطرناک
                ترین لحظات تاریخ معاصر جهان!
            </p>

            <div class="col-12 about-img">
                <img src="/images/refs/7.jpg" alt="" />
            </div>
            <p>
                <b>پیروزی در جنگ هسته‌ای:</b> نقشه های مخفیانه پنتاگن برای جنگ
                میچیو کاکو و دنیل اکسلراد در این کتاب استراتژی تهدید آمیز آمریکا برای کنترل هسته‌ای جهان را بررسی کرده و
                آن‌را
                با ظاهرسازی‌های دولت و پنتاگن در چهل سال گذشته مقایسه می‌کنند!
            </p>


            <div class="col-12 about-img">
                <img src="/images/refs/8.jpg" alt="" />
            </div>
            <p>
                <b> نبرد اطلاعاتی:‌</b>
                تاریخ سازمان اطلاعاتی آمریکا
                در کتاب نبرد اطلاعاتی، توماس پاورز به بررسی زیرساخت اطلاعاتی ایالات متحده آمریکا پرداخته و تلاش سازمان
                اطلاعاتی
                کشور را برای مقابله با تهدید شوروی در بحرانی‌ترین روز‌های جنگ سرد را به تصویر می‌کشد!
            </p>


            <div class="col-12 about-img">
                <img src="/images/refs/2.jpg" alt="" />
            </div>
            <p>
                <b>تاریخچه جدید جنگ سرد:</b>
                تاریخچه جدید جنگ سرد یکی از معتبرترین کتاب‌های مدرن برای بررسی نیمه دوم قرن بیستم و بحران‌های جنگ‌سرد
                می‌باشد!

                جان لوییس گادیس با استفاده از پرونده های تازه گشوده شده از قرن بیستم، روایتی کامل و جامع را از جنگ سرد
                ارائه
                می‌دهد. از روز‌های پایانی جنگ جهانی دوم تا بحران کوبا و درگیری‌های مائو، گورباچف و رونالد ریگان برای
                پایان دادن
                به این بحران مرگبار.
            </p>
            </p>


            <div class="col-12 about-img">
                <img src="/images/refs/9.jpg" alt="" />
            </div>
            <p>
                <b>نابود کننده دنیاها:</b>
                پادکست نابود کننده دنیاها یکی از قسمت‌های مجموعه hardcore series می‌باشد! پادکستی تاریخی از دن کارلین که
                به
                بررسی دقیق و جامع رویدادهای مختلف تاریخی می‌پردازد و آن‌ها را بی‌طرفانه و با کمک منابع مختلف بررسی
                می‌کند!
            </p>
            
            <p>همچنین علاقه‌مندان به این بازه تاریخی می‌توانند برای اطلاعات بیشتر به فیلم‌ها و مجموعه‌های زیر مراجعه
                کنند:</p>

            <div class="col-12 about-img">
                <img src="/images/refs/5.jpg" alt="" />
            </div>
            <p>
                <b>Cold war (2018):</b>
                داستان زوجی روس که در بحبوحه جنگ سرد در برلین زندانی می‌شوند و تلاش می‌کنند تا عشق خود را در میان تمامی
                حواشی و
                بحران‌ها حفظ کنند
            </p>

            <div class="col-12 about-img">
                <img src="/images/refs/1.jpg" alt="" />
            </div>
            <p>
                <b>Bridge of Spies (2015):</b>
                روایتی از یک وکیل آمریکایی که تصمیم می‌گیرد در دادگاه از یک جاسوس شوروی دفاع کند.
            </p>


            <div class="col-12 about-img">
                <img src="/images/refs/3.jpg" alt="" />
            </div>
            <p>
                <b>Dr. Strangelove (1964):</b>
                داستان یک ژنرال دیوانه و بحرانی که بخاطر او میان آمریکا و شوروی شکل می‌گیرد!
            </p>



            <div class="col-12 about-img">
                <img src="/images/refs/4.jpg" alt="" />
            </div>
            <p>
                <b>The Kennedys (2011):</b>
                داستان به قدرت رسیدن خانواده کندی و مشکلاتی که جان اف کندی در دوران ریاست جمهوری با آن مواجه شد!
            </p>

        </div>
    </section>
</div>